* {
    box-sizing: border-box;
}

html {
    font-family: "Lobster", cursive;
}

body {
    perspective: 500px;
    background-image: linear-gradient(#141f31, #233952);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.title {
    color: #ffed28;
    font-size: 4em;
    text-align: center;
    font-weight: lighter;
}

.game-info-control {
    width: 500px;
    margin: auto;
    color: #ffed28;
    position: relative;
    font-size: 1.4em;
    display: flex;
    justify-content: space-between;
}

.game-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.4em;
    width: 500px;
    justify-content: center;
    margin: auto;
}

.game-card {
    height: 120px;
    background-image: linear-gradient(rgb(41, 75, 119), #101b27);

    width: 100px;
    transition: all 0.2s ease-in-out;
    position: relative;
    backface-visibility: hidden;
    border-radius: 7px;
}

.game-card:hover {
    transform: scale(1.07);
    /* background-image: linear-gradient(rgb(41, 75, 119), #3caea3); */
    box-shadow: 0px 0px 5px #f6d55c, 0px 0px 15px #ed553b, 0px 0px 10px #f6d55c,
        0px 0px 25px #3caea3;
}

.card-face {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 1s ease-in-out;
    border-radius: 7px;
}

.back-face {
    transform: rotateY(180deg);
    background-image: linear-gradient(rgb(41, 75, 119), #3caea3);
}

.game-card.visible .front-face {
    transform: rotateY(180deg);
}

.game-card.visible {
    transform: rotateY(0);
}

.game-card.visible .back-face {
    transform: rotateY(0);
}

.front-face:hover .card-face-texture {
    animation: fly 1s ease-in-out infinite;
}

@keyframes fly {
    0% {}

    50% {
        transform: translateY(-20px) rotate(10deg) translateX(10px);
    }

    100% {
        transform: translateX(0) rotate(0) translateY(0);
    }
}

.card-face-texture {
    position: absolute;
    width: 70px;
    height: 70px;
    transition: all 0.3s ease-in-out;
}

.bird {
    position: absolute;
    width: 80px;
    height: 80px;
    transition: all 0.3s ease-in-out;
}

.game-card.matched .bird {
    animation: dance 1s linear infinite;
}

@keyframes dance {

    0%,
    100% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-10deg);
    }
}

.overlay-text {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;

    display: none;
    justify-content: center;
    align-items: center;
    /* color: #3caea3; */
    color: #ffed28;
    visibility: hidden;
    transition: all 1s ease-in-out;

}

.overlay-text.visible {
    animation: overlay-show 1s linear forwards;
    z-index: 10;
    visibility: visible;
    display: flex;
    flex-direction: column;
}

@keyframes overlay-show {
    0% {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }

    100% {
        background-color: rgba(0, 0, 0, 0.8);
        font-size: 10em;
    }
}

@keyframes overlay-hide {
    0% {
        background-color: rgba(0, 0, 0, 0.8);
        font-size: 10em;
    }

    100% {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
        visibility: hidden;
    }
}

.game-over {
    /*font-family: sans-serif;*/
}

.overlay-text-small {
    font-size: .3em;
}